.shop-container {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
}

.books-container {
    width: 75%;
    margin: 30px 30px;
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(3, 1fr);
}

.cart-container {
    width: 25%;
    padding: 20px;
    border-left: 1px solid black;
}