.cart {
    position: sticky;
    top: 0;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    border: 1px solid blueviolet;
    margin-right: 25px;
}

.choose-button {
    width: 250px;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(100, 72, 127);
    padding: 10px;
    cursor: pointer;
}

.choose-button:hover {
    background-color: blueviolet;
}

.remove-button {
    width: 250px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 72, 127);
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: blueviolet;
}