nav {
    background-color: blueviolet;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

nav h1 {
    font-size: 4rem;
    font-family: "Bonheur Royale", cursive;
    color: white;
}